# Virtual Environment
venv/
env/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# Streamlit
.streamlit/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

*.db

.idea/
.vscode/

# FAISS Index
*.faiss
*.pkl